{
  "extends": "stylelint-config-standard",
  "formatter": "stylelint-checkstyle-formatter",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  },
  "ignoreFiles": ["scss/vendors/**/*.scss", "app_next/**/*.scss"]
}
